<%-include('nav')-%>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus minima facere omnis fuga, alias cupiditate ut quas quis inventore mollitia autem ratione sit, minus doloribus adipisci? Esse placeat voluptatibus voluptatem.</p>
    <h3>
        This is a simple website created by <%=name%> for learning purposes.<br/>
    </h3>
</body>
</html>