<%-include('nav')-%>

<h2>Information Form</h2>

<h2 style="text-align: center;">Student Information Form</h2>

<form  style="text-align: center; border: 1px solid black;" id="studentForm">
    <label for="name">Name:</label>
    <input type="text"  name="n" >
    <br><br>
    <label for="course">Course:</label>
    <input type="text"  name="c" >
    <br><br>
        
    <button name="submit" type="submit" value="submit" >Submit</button>
</form>