<%-include('nav')-%>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form>
            Enter pin
            <input type="tet" name="p" class="form-control">
            Enter name
            <input type="tet" name="n" class="form-control">
            Enter fname
            <input type="tet" name="fn" class="form-control">
            Enter email
            <input type="tet" name="e" class="form-control">
            Enter phone
            <input type="tet" name="ph" class="form-control">
            Enter gender
            <input type="tet" name="g" class="form-control">
            Enter country
            <input type="tet" name="c" class="form-control">
            Enter state
            <input type="tet" name="st" class="form-control">
            Enter city
            <input type="tet" name="ct" class="form-control">
            Enter amount
            <input type="tet" name="am" class="form-control">

            <button class="btn btn-success" name="submit" value="submit" type="submit">Submit</button>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>