<form action="/upload" method="post" enctype="multipart/form-data">
  <input type="file" name="profileimage" class="form-control" /><br />
  <input type="submit" value="Upload" name="submit" class="btn-success" />
</form>

<a class="btn btn-primary" href="Allimage">Show all About</a>
