<%-include ('nav')-%>
<body>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 border border-dark p-2">
            <form>
                Enter User Name
                <input type="text" class="form-control" name="un">
                Password
                <input type="text" class="form-control" name="p">
                <br>
                <button class="btn btn-primary" type="login" value="login" name="login" >Login</button>
                <br>
                <%=msg%>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</body>

